{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div class="bg-secondary col-6">
    {{ form_label(form.CP)}}
    {{ form_widget(form.CP)}}
    </div>
    
    {{ form_row(form.name)}}
    {{ form_row(form.region)}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
